{% extends 'common/__base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1>Recipe Delete</h1>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    Are you sure you want to delete "{{ recipe }}"?
                    <button type="submit" class="btn btn-danger btn-sm">Yes</button>
                    <a class="btn btn-outline-primary btn-sm" href="{% url "recipes:detail" recipe.pk %}">Cancel</a>
                </form>
            </div>
    </div>
{% endblock content %}
