{% extends 'common/__base.html' %}

{% block content %}
    <h1>Recipes</h1>
        <a href="{% url "filter-recipe" %}">Search by Ingredient?</a>
    <div>
    <ul>
    {% for recipe in recipe_list %}
        <div>
            <li><h4>{{ recipe.title }}</h4><br>
            {{ recipe.description }}<br>
            <a href="{% url "detail-single-recipe" recipe.pk %}">view</a>
            <a href="{% url "update-recipe" recipe.pk %}">edit</a>
            <a href="{% url "delete-recipe" recipe.pk %}">delete</a>
            </li>
        </div><br>
    {% endfor %}
    </ul>
    </div>
        <div>
            <a href="{% url "create-recipe" %}">Add Recipe</a>
        </div>
{% endblock content %}

